{% extends 'base.html' %}

{% block title %} Modal {% endblock %}

{% block body %}

<div>
    <h1>Modal Form Registration</h1>

    <form action="{% url 'modalform' %}" method="post">

        {% csrf_token %}

         <div class="form-group">
            <label for="username">Username</label>
            {{modalform.username}}
         </div>

        <div class="form-group">
            <label for="password">Password</label>
            {{modalform.password}}
         </div>

        <div class="form-group">
            <label for="email">Email</label>
            {{modalform.email}}
         </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            {{modalform.phone}}
         </div>

        <input type="submit" class="btn btn-success" value="Register">

    </form>

</div>



{% endblock %}