{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block body %}

<h1>This is our latest news page</h1>
<p>News items for year {{year}}</p>

{% for news in article_list %}

<h2>{{news.author}}</h2>
<h1>{{news.title}}</h1>
<p>{{news.description}}</p>
<h4>{{news.timestamp}}</h4>

{% endfor %}

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>

{% endblock %}