{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block body %}

<div class="container">
    <h1>Signup Form</h1>

    <ul class = "messages">
        {% for msg in messages %}
        <il>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </il>
        {% endfor %}
    </ul>

    <form action="{% url 'addUser' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username</label>
            {{form.username}}
         </div>

        <div class="form-group">
          <label for="password">Password</label>
          {{form.password}}
         </div>

        <div class="form-group">
            <label for="email">Email address</label>
            {{form.email}}
         </div>

        <div class="form-group">
            <label for="phone">Phone</label>
             {{form.phone}}
        </div>
        <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}